<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Ekranı</title>
    <style>
        body {
            background-color: rgb(163, 219, 73);
        }
        .container {
            margin-top: 300px;
            margin-left: 550px;
        }
    </style>
</head>
<body>
    <div class="container"><form action="/giris" method="post">
        <input type="text" name="username" placeholder="Kullanici adinizi giriniz"> <br>
        <input type="password" name="password" placeholder="Sifrenizi giriniz"> <br>
        <button type="submit" name="submit" value="girisyap">Admin Girişi Yap</button>
        <button type="submit" name="submit" value="misafir">Kullanıcı Olarak Devam Et</button>
    </form></div>
    
</body>
</html>